@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ul, li, a {
    list-style: none;
    text-decoration: none;
  }
}

/* 公共变量 */
:root {
  --header-height: 64px;
  --header-bottom-color: 0 1px 0 0 hsla(0,0%,100%,.1)
}

/* Light theme */
:root[data-theme='light'] {
  --background: #ffffff;
  --foreground: #2d3748;
  --navbar-bg: #f8f9fa;
  --navbar-text: #2d3748;
}

/* Dark theme */
:root[data-theme='dark'] {
  --background: #282c35;
  --foreground: #ffffff;
  --navbar-bg: #1a1d24;
  --navbar-text: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-text {
  font-family: var(--font-roboto-mono);
}
