@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

/* 公共变量 */
:root {
  --header-height: 64px;
  --header-bottom-color: #e7e7e7;

  /* Default light theme variables */
  /* --background: #ffffff; */
  /* --foreground: #2d3748; */
  /* --header-bg: #ffffff; */
  /* --header-text: #2d3748; */
  /* --blog-link-color: lab(58.739% 56.873 -7.396); */
}


/* Dark theme */
.dark {
  --header-bottom-color: #3a3a3a;
  --background: #202020;
  --foreground: #ffffff;
  --header-bg: #202020;
  --header-text: #ffffff;
  --blog-link-color: lab(80.574% 30.6 -11.24);
}

.light {
  --header-bottom-color: #e7e7e7;
  --background: #ffffff;
  --foreground: #2d3748;
  --header-bg: #ffffff;
  --header-text: #2d3748;
  --blog-link-color: lab(58.739% 56.873 -7.396);
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono);
  /* transition: background-color 0.5s ease, color 0.5s ease; */
}


main {
  padding-top: var(--header-height);
}

.custom-text {
  font-family: var(--font-roboto-mono);
}
