@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

/* 公共变量 */
:root {
  --header-height: 64px;
  --header-bottom-color: 0 1px 0 0 hsla(0,0%,100%,.1);
  /* Default light theme variables */
  --background: #ffffff;
  --foreground: #2d3748;
  --header-bg: #f8f9fa;
  --header-text: #2d3748;
  --blog-link-color: lab(58.739% 56.873 -7.396);
}

/* Dark theme */
.dark {
  --background: #282c35;
  --foreground: #ffffff;
  --header-bg: #1a1d24;
  --header-text: #ffffff;
  --blog-link-color: lab(80.574% 30.6 -11.24);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-text {
  font-family: var(--font-roboto-mono);
}
